/*************************************************
    CUSTOM PROPERTIES
 *************************************************/

/* BACKGROUND COLORS */
.bg-green {
    background-color: #1abc9c;
}

.bg-lightblack {
    background-color: #2c3e50;
}

.bg-gray {
    background-color: #3a546d;
}

/* /BACKGROUND COLORS */




/* COLORS */
.color-white-ad {
    color: white;
}

.color-black-ad {
    color: black;
}

.color-green {
    color: #1abc9c;
}

/* /COLORS */




/* BUTTONS */
.button-ad {
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 20px;
}

.button-ad:hover {
    background-color: #1abc9ca0;
}

.btn-outline-light.button-ad:hover {
    background-color: white;
}

/* /BUTTONS */




/* BORDERS */
.border-ra15 {
    border-radius: 15px;
}

.border-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 12px;
    border-radius: 50%;
    border: 1px solid white;
}

/* /BORDERS */





/************************************************
    SITE SECTIONS
 ************************************************/



.fixed-top {
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 999;
}

.container-ad {
    width: 60%;
    margin: 0 auto;
}

.fixed-top .navbar .container a:hover {
    color: #1abc9c;
}


/*bar */
.bar {
    width: 8%;
    height: 5px;
    border-radius: 3px;
}




/* INPUT CUSTOM */
.input-ad {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    padding-left: 0;
}



/* MAIN */
/* jumbotron */
.jumbotron-ad {
    margin-top: 80px;
}

.jumbotron-ad .content .img {
    height: 450px;
}

/* /jumbotron */



/* portfolio */

/* hover col */
.portfolio .col-12 {
    position: relative;
}

.portfolio .col-12 .img:hover i {
    display: block;
}

.portfolio .col-12 .img i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    font-size: 80px;
    background-color: #1abc9c8e;
    height: 100%;
    width: 95.5%;
    border-radius: 15px;
    padding-left: 40.5%;
    padding-top: 28%;
}


/* /hover col */

/* /portfolio */

/* FOOTER */
/* social */

/* facebook */
.social span:nth-child(2):hover {
    background-color: #4173b8;
}

/* google */
.social span:nth-child(3):hover {
    background-color: #f9bc02;
}
.social span:nth-child(3):hover i {
    color: #e94234;
}

/* X */
.social span:nth-child(4):hover {
    background-color: #00ffff;
}

.social span:nth-child(4):hover i {
    color: #4173b8;
}

/* linkedin */
.social span:last-child:hover {
    background-color: #47adff;
}

facebook:hover {
    color: #4173b8;
}

twitter:hover {
    color: #00ffff;
}

linkedin:hover {
    color: #47adff;
}

linkedin:hover {
    color: #e94234;
    color: #f9bc02;
    color: #33a853;
    color: #4285f4;
}


/* /social */
/* /FOOTER */

/* /MAIN */