header {
    height: 80px;
    background-color: rgba(0, 102, 255, 0.5);
}

section {
    height: 500px;
    background-color: rgba(0, 102, 255, 0.5);
    border: 1px solid #000;
}

[class^="col"] {
    background-color: 0 0 0 0.3;
    border: 1px solid #000;
}